# Django #
*.log
*.pot
*.pyc
__pycache__

## Maybe add database back in production
# db.sqlite3
media

# Python # 
*.py[cod] 
*$py.class 

# Visual Studio Code # 
**/.vscode/ 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Front end #
/node_modules
/build